{% extends "base.html" %}

{% block content %}

<div class="main__content">
  <form method="POST" action="/" class="choose">

    <p>Выберите комплектующее:</p>
    <select name="chooseType">
      <option value="Процессор">Процессор</option>
      <option value="Видеокарта">Видеокарта</option>
      <option value="Кулер для ЦП">Кулер для ЦП</option>
      <option value="Материнская плата">Материнская плата</option>
      <option value="Оперативная память">Оперативная память</option>
      <option value="Устройство памяти">Устройство памяти</option>
      <option value="Блок питания">Блок питания</option>
      <option value="Корпус">Корпус</option>
    </select>

    <fieldset class="parameter">
      <legend>{{ type }}</legend>

      {% for parameter in params[type]["ru"] %}
        <fieldset class="attr">
          <legend>{{ parameter }}</legend>

          {% set en_param = params[type]["en"][loop.index0] %}

          {% for variant in attrs[en_param] %}
            <div class="checkbox">
              <input type="checkbox" id="{{ variant }}" name="{{ en_param }}" value="{{ variant }}">
              <label for="{{ variant }}">{{ variant }}</label>
            </div>
          {% endfor %}
        </fieldset>
      {% endfor %}
    </fieldset>

    <button type="submit">Применить</button>
  </form>
  <div class="display__items">
    {% if details %}
      {% for detail in details %}
        <div class="display__item">
          <img src="{{ detail.image }}" alt="{{ detail.title }}" width="50">
          <a href="{{ detail.link }}" class="link__label">{{detail.title}}</a>
          <p class="cost__label">{{detail.cost}}.-</p>
          <form>
            <button class="add__button" value="{{ detail }}">Добавить в сборку</button>
          </form>
        </div>
      {% endfor %}
    {% else %}
      <p class="nothing__found">К сожалению, ничего не нашлось</p>
    {% endif %}
  </div>
</div>

{% endblock %}